html, body {
    height:	100%;
    margin:	0;
    padding:	0;
}

body {
    background-color: #fff;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #000;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    font-style: normal;
    color: #000;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    letter-spacing: 3px;
    margin:0;
}

h4 {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
}

h5 {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
}

ul {
    margin-top:0;
}

a {
    color : black;
    font-weight: 600;
    text-decoration: none;
}
a:hover {
    color: #030;
    text-decoration: underline;
}

header {
    height: 36px;
    padding: 12px;
}

header div {
    float:left;
    padding-left: 24px;
    padding-top: 6px;
}

header div#logo {
    font-size: 2rem;
    font-weight: 300;
    font-style: normal;
    color: #000;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    letter-spacing: 3px;
}

header div#navbox {
    padding-top: 16px;
    padding-right: 24px;
}

header img {
    float:left;
}

main {
    height: calc(100% - 152px);
    overflow: scroll;
    margin: 20px 80px;
}

main #left-cont {
    padding: 20px;
    border-radius:4px;
    background-image: linear-gradient(to right, rgba(255,255,255,1) , rgba(255,255,255,0.1));
}

#profiles {
    display: flex;
    flex-wrap: wrap;
}

#left-cont p {
    font-size: 1.3em;
    font-style: italic;
}

.vmbox {
    max-width: 400px;
    min-width: 240px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 1px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.9);
    float: left;
    margin: 24px;
}

.vmbox > div {
    position: relative;
    padding: 24px 48px;
}

.top-right-ln-image {
    position: absolute;
    top: 24px;
    right: 24px;
}

.vmbox h3, .vmbox h4 .vmbox h5 {
    font-weight: normal;
    margin: 0;
}
.vmbox h3 {
    font-weight: 300;
    font-size: 1.6em;
    padding-bottom: 8px;
}

.vmbox h5 {
    font-style: normal;
    font-weight: 300;
    padding-bottom: 8px;
}
.vmbox h6 {
    font-style: normal;
    font-weight: 300;
    font-size: 0.8em;
    letter-spacing: 1.6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 16px;
    font-style: italic;
    margin:0;
}

.vmbox-top {
    text-align: center;
}

.vmbox-top img {
    border-radius: 120px;
}

.vmbox p {
    text-align: justify;
}

#why-choose-us {
    margin: 24px;
    padding: 32px;
    max-width:700px;
    background-color: rgba(255, 255, 255, 0.8);
}
#why-choose-us li {
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;
    margin-bottom: 12px;
}

#clients {
    display: flex;
    flex-wrap: wrap;
}

.clientbox {
    padding: 16px;
    margin: 16px;
    justify-content: space-around;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: rgba(255,255,255,0.5);
    height: 30px;
}
.clientbox:first-child {
    margin-left: 0;
}

footer {
    height: 24px;
    text-align:left;
    margin: 12px 12px 12px 90px;
}

@media all and (max-width: 768px) {
    header div {
	    padding-left: 8px;
	    padding-top: 0;
    }
    header div#navbox {
        padding-bottom: 8px;
    }
    ul {
	    padding-left: 16px;
    }
    h1 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1em;
    }
    h1 h2 h3 h4 h5 h6 {
        margin: 0;
        font-weight: normal;
    }
    .clientbox {
        margin: 8px;
        padding: 8px;
        border-radius: 4px;
    }
    .vmbox {
        margin: 8px;
    }    
    main {
        margin: 8px;
    }
    #why-choose-us {
        margin: 0px;
    }
    .profile-box > div {
        margin: 0px;
        margin-bottom: 24px;
    }
    main #left-cont {
        padding: 8px;
        margin: 8px;
    }

}
@media all and (min-width: 769px) and (max-width: 1024px) {
    #left-cont {
	width: 66%;
    }
}
@media all and (min-width: 1025px) {
    #left-cont {
	    width: 50%
    }
}	  


